
.emp-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emp-header div {
    display: flex;
    gap: 10px;
}

.emp-header button {
    padding: 10px 1rem;
    background-color: #238636;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.emp-header button:hover {
    opacity: 0.7;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    width: 5%;
    padding: 8px 0;
    border: 1px solid black;
    text-align: center;
}

th {
    padding: 1rem 0;
    background-color: rgb(163, 163, 163);
}

.action-btns button {
    padding: 5px 10px;
    background-color: #f14141;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

.action-btns button:hover {
    opacity: 0.8;
}

.action-btns button:first-child {
    margin-right: 10px;
    background-color: #238636;
}

