* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.employee,
.dashboard,
.attendance-report,
.m41-report,
.bank-report,
.addNewEmployee,
.attendance-report-form,
.employee-details,
.attendance-report-details,
.m41-report-details {
    width: 80%;
    margin-left: 18%;
    margin-top: 5%;
    padding: 2rem 3rem;
}

.employee h1,
.dashboard h1,
.attendance-report h1,
.m41-report h1,
.bank-report h1,
.addNewEmployee h1,
.employee-details h1,
.attendance-report-details h1,
.m41-report-details h1 {
    font-size: 2.5rem;
}

.main-content {
    margin: 2rem 0 0;
}

.SuccessMsg {
    width: 250px;
    height: 50px;
    background-color: seagreen;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: fixed;
    top: 2rem;
    right: -10rem;
    animation: slide 0.5s forwards;
}

@keyframes slide {
    0% {
        right: -10rem;
    }
    100% {
        right: 2rem;
    }
}
